# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name //robertc481
CLOUDINARY_API_KEY=your_api_key //456956811983955
CLOUDINARY_API_SECRET=your_api_secret // Nn5ctUEDfyeoPR3qhd5KxwVBdxA

# Resend (https://resend.com)
RESEND_API_KEY=your_resend_api_key

# Contact
CONTACT_EMAIL=hello@globalview.tech
EMAIL_FROM=Global View <onboarding@resend.dev>

# Site
NEXT_PUBLIC_SITE_URL=https://globalview.tech
